[submodule "components/bluepad32"]
	path = components/bluepad32
	url = https://github.com/ricardoquesada/bluepad32
[submodule "tools/qtc"]
	path = tools/qtc
	url = https://github.com/benschaser/EDNA_QTC.git
